body {
    font-family: arial;
    background-color: paleturquoise;
}

h2 {
        font-family: arial;
        background-color: gray;
        color: whitesmoke;
        padding: 10px;
        text-align: center;
}

h4 {
    font-family: arial;
    color: black;
    padding: 10px 0;
}

p {
    color: #333; 
}

.center {
    display: block; 
}
